name: Publish to Maven Central

on:
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Build with Gradle
      run: |
        echo -n "${{ secrets.GPG_KEY_ARMOR }}" | gpg --quiet --output secring.gpg --dearmor -
        ./gradlew uploadArchives closeAndReleaseRepository \
          -PsonatypeUsername=${{ secrets.SONATYPE_USERNAME }} \
          -PsonatypePassword="${{ secrets.SONATYPE_PASSWORD }}" \
          -Psigning.keyId=${{ secrets.GPG_KEY_ID }} \
          -Psigning.password="${{ secrets.GPG_PASSWORD }}" \
          -Psigning.secretKeyRingFile=secring.gpg
    - name: Create Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
